.Blurb {
  display: flex;
  flex-direction: row;
  width: 50vw;
  padding-left: 10vw;
  p {
  color: white;
  font-size: 3rem;
  margin: 1vw;
  }
  .about {
    text-align: right;
  }
  .mission {
    text-align: left;
  }
}
.headshot {
  position: fixed;
  align-self: flex-end;
  margin-top: 40vh;
  height: 60vh;
  opacity: .3;
  z-index: 1;
}
