//Color Pallet

$Shade1: hsl(205, 100, 6);
$Shade2: hsl(206, 100, 9);
$Shade3: hsl(206, 100, 12);
$Shade4: hsl(206, 100, 17);
$Shade5: hsl(206, 59, 34);
$Shade6: hsl(205, 40, 47);
$Shade7: hsl(205, 45, 61);
$Shade8: hsl(205, 46, 72);
$Shade9: hsl(203, 49, 83);
$Shade10: hsl(198, 55, 94);
