@import "../../styling/variables";

.NavBar {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 2vh;
  a {
    text-decoration: none;
    color: $Shade8;
    margin-bottom: 1vh;
    margin-right: .2vh;
    font-size: 2vh;
  }
  a:hover{
    text-transform: capitalize;
    color: $Shade10;
  }
}
